* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.125rem;
}
/*Typography*/

h1 {
  padding: 1em;
  text-align: center;
  color: #312614;
  font-size: 3rem;
}
h3 {
  color: #707070;
  font-size: 1.5rem;
}
span {
  color: #b7832f;
}
.space {
  margin-top: 1em;
}
/*Layout*/
.container {
  margin: 0 auto;

  max-width: 980px;
}
.columns {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
.col-1 {
  max-width: 24%;
}
.col-2 {
  max-width: 50%;
}
.col-3 {
  padding: 1em;
  color: #fff;
  background-color: #312614;
  max-width: 20%;
}
footer .col-2 {
  max-width: 75%;
}
/*Img*/
img {
  max-width: 100%;
}

@media (max-width: 700px) {
  .columns {
    flex-direction: column;
  }
  .col {
    padding: 0 1em;
    max-width: 100%;
  }
  footer .col-2 {
    max-width: 100%;
  }
  /*Typography*/
  p {
    margin: 1em 0;
  }
}
